.item-list {
    margin-left: 10px;
    margin-bottom: 15px;
}
.item-list > .list-group-item {
    cursor: pointer;
    margin-left: 10px;
}

.item-list > .list-group-item:hover {
    background-color: #444;
    
}